
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

local: &local
  host: localhost
  username: postgres
  password: password

development:
  <<: *default
  <<: *local
  database: generic-api_development

test:
  <<: *default
  <<: *local
  database: generic-api_test

production:
  <<: *default
  database: generic-api_production
  username: generic-api
  password: <%= ENV['GENERIC-API_DATABASE_PASSWORD'] %>
